body {
  background-color: rgb(37, 37, 37);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.h1-class {
  font-size: 50px;
}

h1,
h2,
h3 {
  color: blanchedalmond;
  font-style: italic;
  font-size: 25px;
}

p,
li {
  color: #ff82ec;
  font-size: 20px;
}

ul,
ol {
  list-style-type: none; /* removes the bullet points and numbers from ul & ol */
}

img {
  border-radius: 5%;
  height: auto;
  width: 18vw;
}
