body {
  background-color: rgb(37, 37, 37);
}

h1 {
  text-align: center;
  font-size: 60px;
  font-family: "Courier New", Courier, monospace;
  color: blanchedalmond;
}

.recipe-links {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  text-align: center;
  font-style: italic;
  list-style: none;
}

.link {
  color: rgb(255, 130, 236);
  text-decoration: none;
}
